/* bleu
 #81D4FA
 noir
 #121212*/

 :root {
    --animate-delay: 0.1s;
  }

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../font/JosefinSans-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../font/SourceSansPro-Light.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular.woff2') format('woff2');
    font-display: swap;
}

 html {
    scroll-behavior: smooth;
    transition: ease-in-out 0.25s;
 }

 
@media(max-width:1025px){
    html {
        font-size: 80%;
    }
}

@media(max-width:576px){
    html {
        font-size: 70%;
    }
}

@media(min-width:2560px){
    html {
        font-size: 125%;
    }
}

body{
    background-color: #121212;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'JosefinSans-Regular';
    color: #72BBDC;
}
/* SECTIONS */
.section{
    min-height: 100vh;
}
.container-fluid.section > div > div > h1{
    text-align: center;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}

/* HOME PAGE */

.home{
    text-align: center;
    min-height: 100vh;
    min-height: 100%;
}


@media (min-height: 600px) {
    .headline {
      min-height: 70vh;
    }
  }

.headline{
    height:50vh;
    width: 100%;
}

.headline h1{
    font-family: 'JosefinSans-Regular';
    font-size: 5rem;
    margin-bottom: 0;
}

.headline h2{
    font-size: 3rem;
    font-family: 'SourceSansPro-Light';
}


/* CONTACT BUTTON */
@media (min-width: 1200px){
    .button{
        max-width: 20.5%;
        min-width: 15%;
    }
}
.button{
    color: #72BBDC;
    border-radius: 50px;
    border: 2px solid #72BBDC;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0;
    padding-left: 0;
    transition: all 0.5s;
}

.button h1{
    color: #72BBDC;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'SourceSansPro-Regular';
    margin: 0;
    transition: all 0.5s;
}
  
.button:hover{
    background-color: #72BBDC;
}

.button:hover h1{
    color: #121212;
}

/* DOWN ARROW */

@keyframes down{
    from{
        transform: initial;
    }
    20%{
        transform: translateY(20px);

    }
    45%{
        transform: initial;
    }
    to{
        transform: initial;

    }
}

#down_arrow{
    animation: down 3.5s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
    height: 5rem;
    width: 5rem;
}

#arrow_link{
    display: block;
}

/* MON PARCOURS */

a{
    color:#72BBDC;
}

a:hover{
    color:#72BBDC;
    text-decoration: none;
}

/* MES COMPETENCES */

.skill-card h4{
    padding-bottom:0;
    text-align: center;
    padding-top: 0.65rem;
    font-size: 6vw;
}

div.skills div:last-of-type .skill-card:last-of-type h4{
    padding: 0;
}

div.skills > div{
    padding-left: 7vw;
    padding-right: 7vw;
}

.skill-card img{
    width: 25vw;
}

@media (min-width: 576px){ /* res >= 576px */
    .skill-card img{
        width: 18vw;
    }

    .skill-card h4{
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px){ /* res >= 1200 */
    .skill-card img{
        width: 10.5vw;
    }
}

/* MES PROJETS */

.projects .projectrow .project > a > img{
    border-radius: 8px;
    width: 25vw;
}

.projects .projectrow{
    padding-left: 15vw;
    padding-right: 15vw;
}

#projet2{
    width: 15vw;
}

#projet3{
    width: 20vw;
}

@media(max-width: 1100px){ /* breakpoints pour les images des projets */
    .projects .projectrow{
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .projects .projectrow .project > a 
    > img{
        width: 38vw;
    }

    #projet2{
        width: 28vw;
    }
    
    #projet3{
        width: 32vw;
    }
}

@media(max-width: 576px){
    .projects .projectrow{
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .projects .projectrow .project > a 
    > img{
        width: 65vw !important;
    }

    .projects .projectrow .project:not(.projectrow:last-child){
        margin-bottom: 5vh;
    }
}

div.projectrow > div{
    position: relative;
    display: inline-block;
}

.image-title-bg{
    z-index: 1;
    display: flex;
    position: relative;
    height: 100%;

}
.image-title {
    transition: opacity ease-in-out 0.5s;
    opacity: 0;
    position: absolute;
    bottom:400px;
}

.project img:hover ~ .image-title{
    transition: opacity ease-in-out 0.5s;
    opacity: 1;
    white-space: nowrap;
    z-index: 1;
    font-size: 1.75vw;
    position: absolute;
    top: 25%;
    left: 33.55%;
    transform: translate(-50%,-50%);
}

.project > img:hover{
    transition: all ease-in-out 0.5s;
    filter: blur(1px);
}

.project > img{
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

/* MODAL */

.mymodal{
    background-color: #121212;
    display: grid;
}

.mymodal__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #72BBDC;
}

.mymodal__header {
    justify-self: center;
    color: #72BBDC;
    margin-bottom: 1rem;
}

.mymodal__header *{
    text-align: center;

}
.mymodal__header h1{
    font-family: "JosefinSans-Regular";
    font-size:3em;
}

.mymodal__header h2{
    font-family: "SourceSansPro-Light";
    font-size:2em;
}

.mymodal__iconline:first-child{
    margin-top: 1.5vh;
}

.mymodal__button{
    justify-self: end;

}

.mymodal__button img{
    width: 2.25rem;
    transition: all ease-out 0.3s;

}
.mymodal__button:hover img{
    width: 2.5rem;
    transition: all ease-out 0.3s;
}

.mymodal__iconline *{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: middle;
}

.mymodal__iconline h2{
    line-height: 3.5rem;
    margin-inline-start: 0.9375rem;
    margin-bottom: 0;
    margin-top: 0;
}

.mymodal__iconline a:hover{
    text-decoration: underline;
}

.mymodal__iconline img{
    width: 2.75rem;
}

.carousel{
    width: 30rem;
    height: auto;
    margin-bottom: 1rem;
}

@media(max-width:1025px){
    .carousel {
        width: 25rem;
        }
}

.carousel-indicators{
    z-index: 51 !important;
}

.jq-modal a.close-modal[class*="icon-remove"] {
    display: none;
}

.jq-modal{
    background-color: #121212;
    text-align: center;
    max-width: 47.5rem;
}

.carousel .slide {
    justify-self: center;
}

.carousel-indicators li{
    background-color: #72BBDC;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2372BBDC' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2372BBDC' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* CONTACT */

.iconline{
    margin-block-end: 2.5rem;
}

.iconline:hover > a > h3{
    color: #7fd3fa;
    transition: all ease-in-out 0.2s;
}

.iconline:hover > a > img{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    filter: invert(62%) sepia(71%) saturate(447%) hue-rotate(179deg) brightness(112%) contrast(96%);
    transition: all ease-in-out 0.2s;

}

.iconline > a > img{
    filter: invert(68%) sepia(59%) saturate(244%) hue-rotate(154deg) brightness(87%) contrast(89%);
    transition: all ease-in-out 0.2s;
}

.iconline > a > *{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: middle;
    margin-bottom: 0;
}

.iconline > a > img{
    width: 3rem;
    margin-right: 0.5rem;
}

#contact{
    min-height: 90vh;
}

#contact div.row > div:first-child{
    padding-left: 10vw !important;
}

#contact div.row > div:last-child{
    padding-right: 10vw !important;
}

@media(max-width:1150px){
    #contact div.row > div:first-child{
        padding-left: 5vw !important;
    }
    
    #contact div.row > div:last-child{
        padding-right: 5vw !important;
    }
    
}


@media(max-width:1025px){
    #map iframe{
        width: 40vw;
        height: 300px;
    }

    #contact div.row > div:first-child{
        padding-left: 15px !important;
    }
    
    #contact div.row > div:last-child{
        padding-right: 15px !important;
    }
    
}

@media(max-width:576px){
    #map iframe{
        width: 50vw;
        height: 25vh;
    }
}