/* bleu
 #81D4FA
 noir
 #121212*/

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../font/JosefinSans-Regular.ttf') format('truetype');
    font-display: swap;
}

 html {
    scroll-behavior: smooth;
 }

 
@media(max-width:1025px){
    html {
        font-size: 90%;
    }
}

@media(max-width:576px){
    html {
        font-size: 70%;
    }
}

body{
    background-color: #121212;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'JosefinSans-Regular';
    color: #72BBDC;
}

a{
    color: #72BBDC;
}

li,p{
    font-size: 1.25rem;
    color:rgb(182, 182, 182);
}

a > .icon{
    filter: invert(68%) sepia(59%) saturate(244%) hue-rotate(154deg) brightness(87%) contrast(89%);
    transition: all ease-in-out 0.2s;
    height: auto;
    width: 3rem;
}

a:hover > .icon{
    filter: invert(62%) sepia(71%) saturate(447%) hue-rotate(179deg) brightness(112%) contrast(96%);
}