/* bleu
 #81D4FA
 noir
 #121212*/

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../font/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../font/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular.ttf') format('truetype');
}

 html {
    scroll-behavior: smooth;
 }

body{
    background-color: #121212;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'JosefinSans-Regular';
    color: #72BBDC;
}
/* SECTIONS */


.container-fluid.section > div > div > h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* HOME PAGE */

.home{
    text-align: center;
    min-height: 100vh;
    min-height: 100%;
}


.headline{
    height:80vh;
}

.headline h1{
    font-family: 'JosefinSans-Regular';
    font-size: 5em;
    margin-bottom: 0;
}

.headline h2{
    font-size: 3em;
    font-family: 'SourceSansPro-Light';
}


/* CONTACT BUTTON */
@media (min-width: 1200px){
    .button{
        -ms-flex: 0 0 12.5%;
        flex : 0 0 12.5%;
        max-width: 12.5%;
    }
}
    .button{
        color: #72BBDC;
        border-radius: 50px;
        border: 2px solid #72BBDC;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0;
        padding-left: 0;
    }
    
    .button a{
        color: #72BBDC;
        text-decoration: none;
        font-size: 1.5em;
        font-family: 'SourceSansPro-Regular';
    }

/* DOWN ARROW */

@keyframes down{
    from{
        transform: initial;
    }
    20%{
        transform: translateY(20px);

    }
    45%{
        transform: initial;
    }
    to{
        transform: initial;

    }
}

#down_arrow{
    animation: down 3.5s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
    height: 80px;
    width: 80px;
}

#arrow_link{
    display: block;
}

/* MON PARCOURS */

a{
    color:#72BBDC;
}

a:hover{
    color:#72BBDC;
    text-decoration: none;
}

/* MES COMPETENCES */

.skill-card h4{
    padding-bottom:0;
    text-align: center;
    padding-top: 10px;
    font-size: 6vw;
}

div.skills div:last-of-type .skill-card:last-of-type h4{
    padding: 0;
}

div.skills > div{
    padding-left: 7vw;
    padding-right: 7vw;
}

.skill-card img{
    width: 25vw;
}

@media (min-width: 576px){ /* res >= 576px */
    .skill-card img{
        width: 18vw;
    }

    .skill-card h4{
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px){ /* res >= 1200 */
    .skill-card img{
        width: 10.5vw;
    }
}