/* bleu
 #81D4FA
 noir
 #121212*/

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../font/JosefinSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../font/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../font/SourceSansPro-Regular.ttf') format('truetype');
}

 html {
    scroll-behavior: smooth;
 }

body{
    background-color: #121212;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'JosefinSans-Regular';
    color: #72BBDC;
}
/* SECTIONS */
.section{
    min-height: 100vh;
}
.container-fluid.section > div > div > h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* HOME PAGE */

.home{
    text-align: center;
    min-height: 100vh;
    min-height: 100%;
}


.headline{
    height:80vh;
}

.headline h1{
    font-family: 'JosefinSans-Regular';
    font-size: 5em;
    margin-bottom: 0;
}

.headline h2{
    font-size: 3em;
    font-family: 'SourceSansPro-Light';
}


/* CONTACT BUTTON */
@media (min-width: 1200px){
    .button{
        -ms-flex: 0 0 12.5%;
        flex : 0 0 12.5%;
        max-width: 12.5%;
    }
}
    .button{
        color: #72BBDC;
        border-radius: 50px;
        border: 2px solid #72BBDC;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0;
        padding-left: 0;
    }
    
    .button a{
        color: #72BBDC;
        text-decoration: none;
        font-size: 1.5em;
        font-family: 'SourceSansPro-Regular';
    }

/* DOWN ARROW */

@keyframes down{
    from{
        transform: initial;
    }
    20%{
        transform: translateY(20px);

    }
    45%{
        transform: initial;
    }
    to{
        transform: initial;

    }
}

#down_arrow{
    animation: down 3.5s ease-in-out infinite;
    transform-origin: center;
    transform-box: fill-box;
    height: 80px;
    width: 80px;
}

#arrow_link{
    display: block;
}

/* MON PARCOURS */

a{
    color:#72BBDC;
}

a:hover{
    color:#72BBDC;
    text-decoration: none;
}

/* MES COMPETENCES */

.skill-card h4{
    padding-bottom:0;
    text-align: center;
    padding-top: 10px;
    font-size: 6vw;
}

div.skills div:last-of-type .skill-card:last-of-type h4{
    padding: 0;
}

div.skills > div{
    padding-left: 7vw;
    padding-right: 7vw;
}

.skill-card img{
    width: 25vw;
}

@media (min-width: 576px){ /* res >= 576px */
    .skill-card img{
        width: 18vw;
    }

    .skill-card h4{
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px){ /* res >= 1200 */
    .skill-card img{
        width: 10.5vw;
    }
}

/* MES PROJETS */

.projects .projectrow .project > a > img{
    border-radius: 15px;
    width: 25vw;
}

.projects .projectrow{
    padding-left: 15vw;
    padding-right: 15vw;
}

#projet2{
    width: 15vw;
}

#projet3{
    width: 20vw;
}

div.projectrow > div{
    position: relative;
    display: inline-block;&
}

.image-title-bg{
    z-index: 1;
    display: flex;
    position: relative;
    height: 100%;

}
.image-title {
    transition: opacity ease-in-out 0.5s;
    opacity: 0;
    position: absolute;
    bottom:400px;
}

.project img:hover ~ .image-title{
    transition: opacity ease-in-out 0.5s;
    opacity: 1;
    white-space: nowrap;
    z-index: 1;
    font-size: 1.75vw;
    position: absolute;
    top: 25%;
    left: 33.55%;
    transform: translate(-50%,-50%);
}

.project > img:hover{
    transition: all ease-in-out 0.5s;
    filter: blur(1px);
}

.project > img{
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

/* MODAL */

.mymodal{
    background-color: #121212;
    display: grid;
}

.mymodal__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #72BBDC;
}

.mymodal__header {
    justify-self: center;
    color: #72BBDC;
}

.mymodal__header *{
    text-align: center;

}
.mymodal__header h1{
    font-family: "JosefinSans-Regular";
    font-size:3em;
}

.mymodal__header h2{
    font-family: "SourceSansPro-Light";
    font-size:2em;
}

.mymodal__iconline:first-child{
    margin-top: 1.5vh;
}

.mymodal__button{
    justify-self: end;

}

.mymodal__button img{
    width: 40px;
    transition: all ease-in-out 0.3s;

}
.mymodal__button:hover img{
    width: 45px;
    transition: all ease-in-out 0.3s;
}

.mymodal__iconline *{
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    vertical-align: middle;
}

.mymodal__iconline h2{
    line-height: 1.5;
    margin-inline-start: 15px;
    margin-bottom: 0;
    margin-top: 0;
}

.carousel{
    width: 15vw;
    height: auto;
}

.carousel-indicators{
    z-index: 51 !important;
}

.jq-modal a.close-modal[class*="icon-remove"] {
    display: none;
}

.jq-modal{
    background-color: #121212;
    text-align: center;
    max-width: 700px;
}

.carousel .slide {
    justify-self: center;
}