.timeline {
  position: relative;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  color: #ffffff;
}

/* center line */
.timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  border-right: 5px solid #F2F2F2;
  height: 100%;
  display: block;
  z-index: -1;
}

.timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 1.875rem;
  width: 1000px;
}

.timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 31px;
  text-align: right;
  margin-right: 20px;
  color: #000000;
  font-size: 1.5rem;
}

.timeline-row .timeline-time small {
  display: block;
  font-size: .8rem;
  color: #8796af;
}

.timeline-row .timeline-content {
  position: relative;
  padding: 10px 20px;
}

.timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 3px;
  width: 40px;
}

/* center dot of left side */
.timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -48px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 100;
  background: #72BBDC;
}

/* content inside the timeline */
.timeline-row .timeline-content *{
  margin-bottom: 0;
}

.timeline-row .timeline-content h2 {
  font-family: 'JosefinSans-Regular';
  font-size: 2.1rem;
}
.timeline-row .timeline-content h3 {
  font-family: 'JosefinSans-Regular';
  font-size: 1.8rem;
}
.timeline-row .timeline-content h4 {
  font-family: 'SourceSansPro-Light';
  font-size: 1.60rem;
}

.timeline-row .timeline-content p {
  font-family: 'SourceSansPro-Light';
  font-size: 1.75rem;
}

img.pin-icon{
  padding-left: 5px;
  padding-right: 5px;
}

/* END */
.timeline-row:nth-child(even) .timeline-content {
  background-color: #252525;
  margin-left: 40px;
  text-align: left;
}

.timeline-row:nth-child(even) .timeline-content:after {
  left: -39px;
  border-right: 18px solid #252525;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.timeline-row:nth-child(even) .timeline-content:before {
  left: -50px;
  right: initial;
}

.timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}

.timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}

.timeline-row:nth-child(odd) .timeline-content {
  background-color: #252525;
  margin-right: 40px;
  margin-left: 0;
  text-align: right;
}

.timeline-row:nth-child(odd) .timeline-content:after {
  right: -39px;
  border-left: 18px solid #252525;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media (max-width: 1050px) {
  .timeline-row {
    width: 95vw;
  }
}

@media (max-width: 767px) {
  .timeline {
      padding: 15px 10px;
 }
  .timeline:after {
      left: 28px;
 }
  .timeline .timeline-row {
      padding-left: 0;
      margin-bottom: 16px;
 }
  .timeline .timeline-row .timeline-time {
      position: relative;
      right: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
 }
  .timeline .timeline-row .timeline-time strong {
      display: inline-block;
      margin-right: 10px;
 }
  .timeline .timeline-row .timeline-icon {
      top: 52px;
      left: -2px;
      margin-left: 0;
 }
  .timeline .timeline-row .timeline-content {
      padding: 15px;
      margin-left: 56px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      position: relative;
 }
  .timeline .timeline-row .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
 }
  .timeline .timeline-row:nth-child(odd) {
      padding-right: 0;
 }
  .timeline .timeline-row:nth-child(odd) .timeline-time {
      position: relative;
      right: auto;
      left: auto;
      top: 0;
      text-align: left;
      margin: 0 0 6px 56px;
 }
  .timeline .timeline-row:nth-child(odd) .timeline-content {
      margin-right: 0;
      margin-left: 55px;
 }
  .timeline .timeline-row:nth-child(odd) .timeline-content:after {
      right: auto;
      left: -39px;
      top: 32px;
      border-right: 18px solid #252525;
      border-left: inherit;
 }
  .timeline.animated .timeline-row:nth-child(odd) .timeline-content {
      left: 20px;
 }
  .timeline.animated .timeline-row.active:nth-child(odd) .timeline-content {
      left: 0;
 }

 .timeline .timeline-row{
  width: 90vw;
 }

 .timeline-row .timeline-content *{
  text-align: center;
}

 /* DOTS */
 .timeline-row .timeline-content:before {
   top:30px;
   left:-47px;
}

 .timeline-row:nth-child(even) .timeline-content:before {
  left: -48px;
  right: initial;
}
  /* END */

}